# Virtual environments
venv/
myenv/
mynewenv/

# VSCode settings
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# OS junk files
.DS_Store
Thumbs.db

# Streamlit and Hugging Face cache
.streamlit/
.cache/
huggingface/

# Environment/config files
.env
*.env

# Logs and debug
*.log

# Notebook checkpoints
.ipynb_checkpoints/
*.swp
